.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-canvas-bg);
  color: var(--color-btn-text);
  height: 3rem;
  border-radius: 40px;
  font-size: 1.125rem;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  vertical-align: middle;
  box-shadow: var(--box-shadow-btn);
  border: 2px solid var(--color-btn-border);
  cursor: pointer;
}

.btn_round {
  padding: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  fill: var(--color-logo-square);
}

.btn__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.btn_text {
  width: 12.5rem;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  color: var(--color-text);
  transition: text-decoration 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

@media (hover: hover) {
  .btn:hover {
    color: var(--color-btn-hover-text);
    background-color: var(--color-btn-hover);
  }

  .btn_text:hover {
    background-color: transparent;
    text-decoration: underline solid var(--color-border) 2px;
    text-underline-position: under;
  }

  .btn_round:hover {
    fill: var(--color-btn-hover-text);
  }
}
