.gameboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 0.75rem;
  align-self: start;
}

.gameboard__canvas {
  box-shadow: var(--color-canvas-shadow) 1.95px 1.95px 2.6px;
}

@media only screen and (min-width: 768px) {
  .gameboard {
    margin: 1rem 0;
  }
}
