.latest-wins {
  display: grid;
  padding-top: 9rem;
  position: fixed;
  transform: translateX(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.latest-wins_show-in-hamburger {
  transform: translateX(0);
  transition: transform 0.3s ease;
  width: 100vw;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  column-gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .latest-wins {
    padding-top: 0;
    position: static;
    transform: none;
  }
}

@media only screen and (min-width: 768px) {
  .latest-wins {
    margin-top: 1rem;
  }
}