// pseudo-element for dialog backdrop
.message::backdrop {
  background-color: gray;
  opacity: 0.75;
}

.message[open] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  border-color: var(--color-border);
  max-width: 80vw;
  min-width: min(50vw, 16rem);
}

.message__close {
  width: 50%;
}