html {
  font-size: 16px;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--color-bg);
  color: var(--color-text);
  user-select: none;
}